.navbar-container { 
    width:95% !important;
    height: 10%;
    background-color: grey;
    margin-top: 1rem !important;
    border-radius: 1rem;




    .logo-container{ 

        .restaurant-logo { 
    
            .link { 
                margin-left: 2rem;
                color: white !important;
                text-decoration: none !important;
            }
        }
   
    }

 

    .buttons-container { 
        width: 13rem;
        margin-right: 2rem;
    }
}